# Environments
.venv/
/backend/.venv/
env/
venv/
ENV/

# Django
db.sqlite3
/backend/db.sqlite3
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Frontend
/node_modules/
/frontend/node_modules/
/dist/
/frontend/dist/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / Editor
.vscode/
.idea/
*.swp

# macOS
.AppleDouble
.LSOverride

# Python / Backend
*.sqlite3
*.db
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.hypothesis/
.pytest_cache/
instance/ # Flask instance folder